//
// _card.scss
//

.card {
  --bs-card-cap-bg: transparent;
  margin-bottom: $grid-gutter-width;
  box-shadow: $box-shadow;
  border-radius: 10px;
  :first-child {
    &.card-body,
    &.card-header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  :last-child {
    &.card-body,
    &.card-footer {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 15px;
  margin: 0 0 7px 0;
  font-weight: $font-weight-semibold;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 0;
}
.r-card .card-header {
  padding: 1rem !important;
  background: #18181b;
  &.rounded-full {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.r-card .card-body {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: #18181b;
  &:last-child {
    padding-bottom: 1rem !important;
  }
}

.r-card .card-footer {
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0 !important;
  background: #18181b;
}
