//
// _card.scss
//

.card {
  --bs-card-cap-bg: transparent;
  margin-bottom: $grid-gutter-width;
  box-shadow: $box-shadow;
  border-radius: 10px;
  :first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  :last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 15px;
  margin: 0 0 7px 0;
  font-weight: $font-weight-semibold;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 0;
}
.r-card .card-header {
  padding: 1.25rem !important;
  background: #191919;
  border-bottom: 1px solid var(--bs-body-bg) !important;
}

.r-card .card-body {
  padding: 1.25rem !important;
  background: #191919;
  border-bottom: 1px solid var(--bs-body-bg) !important;
}

.r-card .card-footer {
  padding: 1.25rem !important;
  background: #191919;
}
